<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Sessions</title>

    <link rel="stylesheet" type="text/css" href="../Public/css/liste-User.css"> 
</head>

<body>
        <div align ="center"> 
            
                <div class="imgcontainer">
                    
                    <p align= "center">
                            <div class="element">
   
                                    <button type="button" class="cancelbtn" style="float: left 20px; margin-right: 50px; background-color: #EC7E07;">
                                        <select name="menu" style="background-color: #EC7E07;">
                                                <option> Utilisateurs </option>
                                            <option> Nouveau </option>
                                            <option>Liste</option>
                                        </select></button>
                                
                                    <button type="submit" style="float:right 20px; background-color: #06878A">  <select name="menu" style="background-color: #06878A;">
                                            <option> Sessions </option>
                                        <option> Nouveau </option>
                                        <option>Liste</option>
                                    </select> </button>
                                </div> <img src="../Public/img/sticker SA.png" style="width: 100px"></p>
                   
                    <p align= "center" style= "font-size: 15px"> <h2> LISTE DES DIFFERENTS UTILISATEURS </h2> 
<table style="width:80%">
   <tr>
       <th>NOM</th>
       <th>PRENOM(S)</th>
       <th>EMAIL</th>
       <th>PROFIL</th>
       <th>LOGIN</th>
   </tr>

   <tr>
       <td> </td>
       <td> </td>
       <td> </td>
       <td> </td>
       <td> </td>
   </tr>
   <tr>     
       <td> </td>
       <td> </td>
       <td> </td>
       <td> </td>
       <td> </td>
   </tr>
   <tr>
       <td> </td>
       <td> </td>
       <td> </td>
       <td> </td>
       <td> </td>
   </tr>
    <tr>
       <td> </td>
       <td> </td>
       <td> </td>
       <td> </td>
       <td> </td>
   </tr>
    <tr>
       <td> </td>
       <td> </td>
       <td> </td>
       <td> </td>
       <td> </td>
   </tr>
</table>



</body>
</html>